<h1>A_propos</h1>
<br/>
<p>Site publique pour le bavardage</p>
<br/>
<p><h2>RJ Fanotiana</h2> le fondateur du site de Commérage " TheGossipProject_BASIC ", créé à Madagascar en 2019, Étudient chez Sayna pour la formation #The_Hacking_Project. il s'est donné pour mission de faire un site libre à tout publique pour faire du commerage
</p>